body {
  background-color: #e5e8ed;
  margin: 0;
  padding: 0;
}

.table-container {
  .table {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;

    td {
      border: 1px solid rgba(224, 224, 224, 1);
    }

    .table-head {
      background-color: #1c508b;
      border: 1px solid rgba(224, 224, 224, 1);

      & th {
        color: white;
      }
    }
  }  
}

.form-container {
  margin-bottom: 20px;
  .form {
    margin: auto;
    padding: 16px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  
    .form-select, .form-input {
      margin-bottom: 16px;

      .MuiInputBase-formControl {
        margin: 0 5px;
      }
    }

    /* styles.css */
    .half-width-input {
      width: 50%;
    }

    .full-width-input {
      width: 100%;
    }

    .form-button {
      height: 48px;
      width: 100%;
    }
  }
}

.full-width-button {
  width: 100%;
}

.app {
  margin-top: 40px;
}

.copied-tables-container {
  .table-container {
    margin-bottom: 20px;
  }
}

.empty-table-message {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}